/*
========== CHECKBOX ===========================================================
*/
.checkbox {
    -fx-checked-color: #52BBFE;
}
/*
========== BUTTON =============================================================
*/
.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color:  #52BBFE;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised-success {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color:  #5cb85c;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised-warning {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color:  #f0ad4e;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised-danger {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color:  #d9534f;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}

/*
----- button-s
*/
.button-s {
    -fx-font-size: 12px;
    -fx-button-type: FLAT;
    -fx-background-color:  #52BBFE;
    -fx-text-fill: WHITE;
}
.button-s-success {
    -fx-font-size: 12px;
    -fx-button-type: FLAT;
    -fx-background-color:  #5cb85c;
    -fx-text-fill: WHITE;
}
.button-s-warning {
    -fx-font-size: 12px;
    -fx-button-type: FLAT;
    -fx-background-color:  #f0ad4e;
    -fx-text-fill: WHITE;
}
.button-s-danger {
    -fx-font-size: 12px;
    -fx-button-type: FLAT;
    -fx-background-color:  #d9534f;
    -fx-text-fill: WHITE;
}

/*
========== POPUP =======================================================================================================
*/
.popup-container{
	-fx-background-color: WHITE;
}